<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projects</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="flex justify-center items-center min-h-screen bg-white text-gray-800 flex-col"
  >
    <h2 class="text-6xl font-bold text-gray-800 ml-20 mb-8 mt-32 self-start">
      About My Projects
    </h2>
    <p
      class="text-xl text-gray-600 mb-8 self-start leading-relaxed ml-20 mr-20 indent-8"
    >
      These are some of my personal and professional projects that I have worked
      on. Each project demonstrates a specific skill set, such as web design,
      Blender modeling, and UI/UX design in Figma. Feel free to explore and
      share your thoughts!
    </p>
    <hr class="border-t-2 border-black w-[95%] mb-8 mx-auto" />

    <!-- กริดโปรเจค -->
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      <!-- โปรเจค 1 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] overflow-hidden text-center ml-4 mr-4"
      >
        <img
          src="/src/components/projects/Screenshot 2025-01-22 230751_0.png"
          alt="ภาพโปรเจค"
          class="w-full h-auto max-h-48 rounded-lg mb-8 object-cover"
        />
        <p class="text-2xl font-bold">Web Design</p>
        <p class="mt-4 text-gray-600 text-lg">This is Web Travel</p>
      </div>

      <!-- โปรเจค 2 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] overflow-hidden text-center ml-4 mr-4"
      >
        <a
          href="https://www.figma.com/design/Qahi3MQaf3BkmQwDCC5taQ/Project?node-id=126-590&t=AnhAcfb7uEihzNOT-1"
        >
          <img
            src="/src/components/projects/Screenshot 2025-01-23 000107.png"
            alt="โปรเจคเพิ่มเติม"
            class="w-full h-auto max-h-48 rounded-lg mb-8 object-cover"
          />
          <p class="text-2xl font-bold">Figma</p>
          <p class="mt-4 text-gray-600 text-lg">
            Create Design for Web Shopping Online
          </p>
        </a>
      </div>

      <!-- โปรเจค 3 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] overflow-hidden text-center ml-4 mr-4"
      >
        <a
          href="https://www.figma.com/design/RwQkrYLn0u8WWEzYAAomWr/66160001-Midterm-Project?node-id=0-1&m=dev&t=ur1tqSrgKGD83aVp-1"
        >
          <img
            src="/src/components/projects/Screenshot 2025-01-23 030157.png"
            alt="โปรเจคเพิ่มเติม"
            class="w-full h-auto max-h-48 rounded-lg mb-8 object-cover"
          />
          <p class="text-2xl font-bold">Figma</p>
          <p class="mt-4 text-gray-600 text-lg">
            Create Design for Web Computer Rental
          </p>
        </a>
      </div>

      <!-- โปรเจค 4 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] flex flex-col items-center ml-4 mr-4"
      >
        <!-- วิดีโอแทนรูป -->
        <video class="w-[300px] rounded-lg mb-6" controls>
          <source src="/src/components/projects/tree.mp4" type="video/mp4" />
          <source src="video.webm" type="video/webm" />
          <p>Your browser does not support the video tag.</p>
        </video>
        <p class="text-2xl font-bold">Blender</p>
        <p class="mt-4 text-gray-600 text-lg">This is tree model</p>
      </div>

      <!-- โปรเจค 5 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] flex flex-col items-center ml-4 mr-4"
      >
        <!-- วิดีโอแทนรูป -->
        <video class="w-[300px] rounded-lg mb-6" controls>
          <source
            src="/src/components/projects/0001-0240.mp4"
            type="video/mp4"
          />
          <source src="video.webm" type="video/webm" />
          <p>Your browser does not support the video tag.</p>
        </video>
        <p class="text-2xl font-bold">Blender</p>
        <p class="mt-4 text-gray-600 text-lg">This is Star model</p>
      </div>

      <!-- โปรเจค 6 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] flex flex-col items-center ml-4 mr-4"
      >
        <!-- วิดีโอแทนรูป -->
        <video class="w-[300px] rounded-lg mb-6" controls>
          <source src="/src/components/projects/Cube.mp4" type="video/mp4" />
          <source src="video.webm" type="video/webm" />
          <p>Your browser does not support the video tag.</p>
        </video>
        <p class="text-2xl font-bold">Blender</p>
        <p class="mt-4 text-gray-600 text-lg">This is Cube model</p>
      </div>

      <!-- โปรเจค 7 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] flex flex-col items-center ml-4 mr-4"
      >
        <img
          src="/src/components/projects/Flower_0.png"
          alt="โปรเจคเพิ่มเติม"
          class="w-[300px] rounded-lg mb-6"
        />
        <p class="text-2xl font-bold">Blender</p>
        <p class="mt-4 text-gray-600 text-lg">This is Flower model</p>
      </div>

      <!-- โปรเจค 8 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] flex flex-col items-center ml-4 mr-4"
      >
        <img
          src="/src/components/projects/GameBoy_HD_0.png"
          alt="โปรเจคเพิ่มเติม"
          class="w-[300px] rounded-lg mb-6"
        />
        <p class="text-2xl font-bold">Blender</p>
        <p class="mt-4 text-gray-600 text-lg">This is GameBoy model</p>
      </div>

      <!-- โปรเจค 9 -->
      <div
        class="p-10 bg-white rounded-lg shadow-xl max-w-[700px] flex flex-col items-center ml-4 mr-4"
      >
        <img
          src="/src/components/projects/ghost.png"
          alt="โปรเจคเพิ่มเติม"
          class="w-[300px] rounded-lg mb-6"
        />
        <p class="text-2xl font-bold">Blender</p>
        <p class="mt-4 text-gray-600 text-lg">This is ghost model</p>
      </div>
    </div>
  </body>
</html>
