<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skills</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <section>
      <div class="text-center">
        <!-- ข้อความ -->
        <h4 class="text-2xl font-bold dark:text-dark mt-5 sm:text-xl md:text-3xl">
          Skills
        </h4>

        <p class="text-2xl text-gray-900 dark:text-black mt-6">
          Technical Skills
        </p>

        <div
          class="mt-4 grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-4 lg:gap-8 mt-10 px-5 sm:px-10">
          <div
            class="h-[250px] w-[350px] rounded-lg bg-pink-400 mx-auto transition-transform duration-300 hover:scale-105 hover:shadow-lg">
            <img class="rounded-lg w-full h-full object-cover" src="/src/components/skills/GameBoy_HD.png" alt="image description"/>
            <figcaption class="mt-2 text-lg text-center text-black">
              <p>I can use Blender</p>
            </figcaption>
          </div>

          <div
            class="h-[250px] w-[350px] rounded-lg bg-pink-400 mx-auto transition-transform duration-300 hover:scale-105 hover:shadow-lg">
            <img class="rounded-lg w-full h-full object-cover" src="/src/components/skills/k-pop.png" alt="image description"/>
            <figcaption class="mt-2 text-lg text-center text-black">
              <p>I can use Figma</p>
            </figcaption>
          </div>

          <div
            class="h-[250px] w-[350px] rounded-lg bg-pink-400 mx-auto transition-transform duration-300 hover:scale-105 hover:shadow-lg">
            <img class="rounded-lg w-full h-full object-cover" src="/src/components/skills/moodeng.png" alt="image description" />
            <figcaption class="mt-2 text-lg text-center text-black">
              <p>I can write web pages</p>
            </figcaption>
          </div>

          <div
            class="h-[250px] w-[350px] rounded-lg bg-pink-400 mx-auto transition-transform duration-300 hover:scale-105 hover:shadow-lg" >
            <img class="rounded-lg w-full h-full object-cover" src="/src/components/skills/minibid.jpg" alt="image description"
            />
            <figcaption class="mt-2 text-lg text-center text-black">
              <p>I can write databases</p>
            </figcaption>
          </div>
        </div>
      </div>
    </section>

    <hr class="border-t-2 border-pink-300 w-3/4 mx-auto my-10 mt-20" />

    <section>
      <div class="text-center mt-20">
        <p class="text-2xl text-gray-900 dark:text-black">Other Skills</p>
      </div>
    </section>
  </body>
</html>
