<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section>
        <div class="text-center">
            <!-- ข้อความ -->
            <h4 class="text-2xl font-bold dark:text-dark mt-[50px] sm:text-xl md:text-3xl">Personal Information</h4>

            <div class="flex items-center px-[350px]">
                <!-- รูปภาพ -->
                <img class="mt-20 max-w-sm rounded-lg shadow-xl dark:shadow-gray-800 transition-transform duration-300 ease-in-out hover:scale-105 hover:rotate-3" src="Image1.png" alt="image description">
            
                
                <!-- ข้อความ -->
                <p class="mt-[-200px] px-20 text-xl font-bold text-gray-900 dark:text-dark">Personal Information</p><br>
                <p class="mt-[-100px] ml-[-200px] text-xl font-bold text-gray-900 dark:text-dark">Full Name : Parichart Nongkae</p>
                <p class="mt-[0px] ml-[-288px] text-xl font-bold text-gray-900 dark:text-dark">NickName : PumPui</p>
                <p class="mt-[100px] ml-[-188px] text-xl font-bold text-gray-900 dark:text-dark">Birthday : 02 December 2004</p>
                <p class="mt-[200px] ml-[-273px] text-xl font-bold text-gray-900 dark:text-dark">Age : 20 year</p>
                <p class="mt-[300px] ml-[-123px] text-xl font-bold text-gray-900 dark:text-dark">Nationality : Thai</p>

                <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-8">
                    <div class="h-32 rounded-lg bg-gray-200"></div>
                    <div class="h-32 rounded-lg bg-gray-200"></div>
                  </div>
                
            
            

        </div>
    </section>
</body>
</html>
